/*Navigation bar style*/
nav {
    background-color: #200569;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: large;
    font-family:'Trebuchet MS';
    position: relative;
  }

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul {
list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav u1 li input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Button style*/
button {
    padding: 7px 15px;
    background-color: #1fb8ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #1e53c5;
  }

  input[type="text"],
input[type="number"],

input{
    border-radius: 10px;
    height: 40px;
    width: 300px;
    
}

/* Basic CSS for the form elements */
body {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)),url("images/ChicagoImg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    position: absolute;
    text-align: center;
}

.intro{
    position: absolute;
    text-align-last: left;
    top: 100px;
    left: 50px;
    margin: 2% 2%;
    background-color: rgba(0, 0, 0, 0.507);
    padding-left: 10px;
    border-radius: 10px;
}

  
.intro h1{
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    max-width: 800px;
    text-align: left;
}
  .intro p {
    max-width: 800px;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 15px;
} 
/*display results*/
.placeData{
  position: absolute;
  top: 300px;
  left: 1200px;
  width: 500px;
}

#result {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.692);
  border-radius: 10px;
  border-color: #838383;
  border-width: 1px;
  border-style: double;
  display:inline;
}
#result h2{
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  
}
#result p{
  color: #838383;
  padding-bottom: 2px;
}
#result img{
  position: relative;
  width: 100%;
  align-content: center;
  padding-top: 3px;
}
#result button{
  background-color: #867070;
  font-family: 'Segoe UI';
}

/* Contact Us Section*/

.submitDetails{
  position: absolute;
  top: 300px;
  left: 50rem;
  background-color: rgba(0, 0, 0, 0.555);
  padding-top: 1%;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-width: 800px; 
}
.submitDetails #contactlabel{
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 10px;
  padding-left: 4px;
}
.submitDetails label{
  display:block;
  color: #cfcfcf;
  font-size: 20px;
  text-align: left; 
  padding-left: 5px;
}

.submitDetails input{
  padding-left: 10px;
  padding-right: 10px;
  size: 400px;
  background-color: #0000005d;
  color: #ffffff;
  height: 100px;
}
.submitDetails button{
  margin-top: 4%;
  background-color: #75a4b6;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  size: 40px;
  padding: 3%;
  align-items: center;
}


/* About Section*/
.about{
    position: absolute;
    text-align-last: left;
    top: 200px;
    left: 40rem;
    margin: 2% 2%;
    background-color: rgba(0, 0, 0, 0.507);
    padding-left: 10px;
    width: 700px;
    border-radius: 10px;
}
#profile{
    display: inline;  
}
.about h1{
    font-family: sans-serif;
    font-size: 50px;
    color: #ffffff;
}
  
.about p{
    font-style: italic;
    color: #ffffff;
}
  
#partners{
    display: grid;
    padding: 10px;
    font-family: 'Trebuchet MS';
    color: #ffffff;
    padding-top: 4px;
}